# Copy this to .env and fill in

# Required
CHANNEL_APE_SECRET_KEY=your-api-key
CHANNEL_APE_OPEN_ORDERS_RETRIEVAL_DELAY_MINUTES=15
CHANNEL_APE_API_DOMAIN_NAME=https://<% if (staging) { %>staging-<% } else {}%>api.channelape.com
CHANNEL_APE_OPEN_ORDERS_DATE=1999-01-01T01:01:01.001Z

# Optional
CHANNEL_APE_OPEN_ORDERS_START_DATE_INTERVAL_DAYS=7
LOG_LEVEL=INFO
PORT=3000
